@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fontdiner+Swanky&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,900&family=Fuzzy+Bubbles:wght@700&family=Inter:wght@700&family=Rubik+80s+Fade&family=Rye&family=VT323&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
